/*Colors
Linen : #FBE8E6;
Tea Rose: F7CAC9
Tuscany: C8A3A0;
Puce: D0879D;
Tango Pink: DB6D7B;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Landing Page*/
.jumbotron {
	text-align: center;
	padding-bottom: 30vh;
	background-image: url('../img/bride2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 500px;
}

.container-jumbotron {
	background-color: rgba(219, 109, 123, 0.37);
	width: 100%; 
	margin: 0 auto;
}

.text {
	margin: 150px;
	padding: 30px;
}

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn:focus, .btn-active:focus, .btn-active:focus {
	outline: 0 none;
}

.btn-primary {
	background: #FBE8E6;
	color: #ffffff;
}

.btn-primary:hover {

} 
.btn-primary:link, 
.btn-primary:visited, 
.btn-primary:focus, 
.btn-primary.active, 
.open > .dropdown-toggle.btn-primary {
	background: #D0879D;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary.link,
 {
	background: #D0879D;
	box-shadow: none;
}

.btn-primary.outline {
	border: 2px solid #FBE8E6;
	color: #FBE8E6;
}

.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.active
.btn-primary.link,
.btn-primary.visited {
	border-color: #DB6D7B;
	color: #DB6D7B;
	box-shadow: none;
}

a:link,
a:visited,
a:active {
	color: black;
}

a:hover {
	color: #D0879D;
}


/*
current colors: #007299 blue to 99005e magenta
33a6cc to cc3333
0099cc to 4700cc - front of button 
*/

/*Navbar*/
.header-expand {
	background-color: #000;
	height: 8vh;
	padding-top: 6px;
}

.header-expand-text {
	color: #ffffff;
	text-align: center;
}

.header-expand-text > a {
	color: red;
}


.header-expand2 {
	background-color: #DB6D7B;
	height: 10vh;
}

.navbar {
	background-color: #D0879D;
	height: 60px;
	padding: 10px 20px;
	margin: 40px auto 0 auto;
}

.black-container {
	background: black;
	margin: 10px auto;
	padding: 10px;
	width: 700px;
}

.brands {
	margin-top: 30px;
}

.grey-boxes1 {
	background-color: grey;
	height: 100px;
	width: 100px;
	margin: 15px;
	float: left;
}


.container {
	background-color: white; 
	width: 100%; 
	align-content: center;
}

/*Carousel*/
.carousel-inner {
	background-color: rgba(219, 109, 123, 0.37);
	width: 100%;
	margin: 0 auto;
}

.carousel-caption {
	background-color: rgba(219, 109, 123, 0.37);
}

.carousel-item {
	height: 750px;
}
	
.grey-boxes1-img {
	width: 100px;
	height: 100px;
}

/*Portfolio*/
.cover {
	background-color: #FBE8E6;
	width: 100%;
	margin: 30px auto;
	padding: 30px;

}

.card {
	margin-top: 40px;
}

.card-body {
	text-align: center;
}

.card-img-top {
	height: 300px;
}

.card-title {
	font-size: 30px
}

.gallery-block.grid-gallery{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block.grid-gallery .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block.grid-gallery .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover{
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.gallery-block.grid-gallery .item{
  margin-bottom: 20px;
}

@media (min-width: 576px) {

  .gallery-block.grid-gallery .scale-on-hover:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}

footer {	
	background-color: #FBE8E6;
	padding: 30px;
	margin-top: 50px;
}


#icon {
	margin: 10px;
}

.footer-end {
	width: 100%;
	background-color: #D0879D;
	padding: 15px 0 8px 0;
}

.footer-end p {
	text-align: center;
	color: white;
}

/*Contact Form*/
.bg-photo-contact {
	text-align: center;
	padding-bottom: 30vh;
	background-image: url('../img/bride2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 500px;
}